h4{
    color:bisque;
    background-color: brown;
    font-size: 20px;
}
.heading{
            background-color:rgb(24, 108, 142);
            font-size: 80px;
            color:rgb(15, 17, 162);
}

.para1{
        color:rgb(25, 6, 6);
        font-size: 20px;
        background-color: aqua;
}
.t_transform_uppercase{
    text-transform: uppercase;
}
.t_transform_lowercase{
    text-transform: lowercase;
}
.t_transform_capitalize{
    text-transform: capitalize;
}
.t_decor_all{
    text-decoration: overline underline line-through;
}
.t_decor_overline{
    text-decoration: overline;
}
.t_decor_underline{
    text-decoration: underline;
}
.t_decor_lineThrough{
    text-decoration: underline overline line-Through;
}
.t_align_1{
    text-align: left;
}
.t_shadow{
    font-size: 90px;
    color:blue;
    text-shadow: 8px 9px 6px red;
}
.t_align_c{
    text-align:center;
}
.t_align_r{
    text-align:right;
}

.bg_image_example{
            background-color: rgb(15, 25, 25);
            background-image: url("images/img10.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }